[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm
[submodule "libraries/martell-zlib"]
	path = libraries/martell-zlib
	url = https://github.com/martell/martell-zlib
