[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm
[submodule "libraries/c-blosc"]
	path = libraries/c-blosc
	url = https://github.com/Blosc/c-blosc
[submodule "libraries/zlib"]
	path = libraries/zlib
	url = https://github.com/madler/zlib.git
